
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../about">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/books">Bookshop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contact">Contact</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                </ul>
            </div>
            <div id="signin">
            <!--<a id="signup" href="#">Sign in / Register</a>-->
            <% if user_signed_in? %>
            <div>Signed in as... <%= current_user.email %> (<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>)</div>
            <% else %>
            <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
            <% end %>
            </div>
        </div>
    </nav>
  

    <!-- Page Content -->
    <div class="container main-container">

        <div class="row">

            <div class="col-lg-3">
            <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="home">Home</a></li>
                </ol>
                <%= render :partial => '/layouts/sidebar' %>

               
               
            </div>   
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <br/><br/>
                <h2>Biography</h2>
         
                
              <% @gen="biography" %>
                <div class="row">
                  <% @books.where("genre like ?", @gen).each do |book| %>
                  <div class="col-md-4">
                  <ul class="list-group">
                    <li class="list-group-item active"><%= book.title %></li>
                    <li class="list-group-item"><%= link_to (image_tag book.image_url, :style => "height:140px"), book %></li>
                    <li class="list-group-item">Author: <%= book.author %></li>
                    <li class="list-group-item"><strong>Description:</strong><%= book.description %></li>
                    <li class="list-group-item">Cost: &#8364;<%= book.cost.round(2) %></li>        
                    <li class="list-group-item">Genre: <%= book.genre %></li>
                  </ul>
                </div>      
              <% end %>
            </div>

                    

              

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
